mixin createPostForm(userLoggedIn)
    .postFormContainer 
        .userImageContainer 
            img(src=userLoggedIn.profilePic  alt="User's profile picture")
        .textAreaContainer.tweetPost
            .buttonsContainer 
                button#submitPostButton(disabled) Post


mixin createReplyModal(userLoggedIn)
    #replyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replyModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#replyModalLabel.modal-title Reply
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    #originalPostContainer
                    .postFormContainer 
                        .userImageContainer 
                            img(src=userLoggedIn.profilePic  alt="User's profile picture")
                        .textAreaContainer
                            textArea#replyTextArea(placeholder="Write you reply...")
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button#submitReplyButton.btn.btn-primary(disabled) Reply



mixin createDeletePostModal(userLoggedIn)
    #deletePostModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deletePostModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#deletePostModalLabel.modal-title Delete Tweet
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    p Do you want to delete this tweet?
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') No
                    button#deletePostButton.btn.btn-primary Delete


mixin createPinPostModal(userLoggedIn)
    #pinPostModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='pinPostModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#pinPostModalLabel.modal-title Pin Tweet
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    p Do you want to pin this tweet ? You can only pin one post at a time 😊...!
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') No
                    button#pinPostButton.btn.btn-primary Pin


mixin createUnpinPostModal()
    #unpinModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='unpinModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#unpinModalLabel.modal-title Unpin the post?
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    p This post will be unpinned.Do you want to unpin the post ?
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button#unpinPostButton.btn.btn-primary(type='button') Unpin


mixin createImageUploadModal()
    #imageUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='imageUploadModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#imageUploadModalLabel.modal-title Upload Profile Picture
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    input#filePhoto(type="file" name="filePhoto")
                    .imagePreviewContainer 
                        img#imagePreview(src="")
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button#imageUploadButton.btn.btn-primary Upload

mixin createCoverPhotoUploadModal()
    #coverPhotoUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='coverPhotoUploadModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#coverPhotoUploadModalLabel.modal-title Upload Cover Photo
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    input#coverPhoto(type="file" name="filePhoto")
                    .imagePreviewContainer 
                        img#coverPreview(src="")
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button#coverPhotoUploadButton.btn.btn-primary Upload


mixin createPostModals(userLoggedIn)
    +createReplyModal(userLoggedIn)
    +createDeletePostModal(userLoggedIn)
    +createPinPostModal(userLoggedIn)
    +createUnpinPostModal(userLoggedIn)

mixin createFollowingButton(user,isFollowing)
    - text=isFollowing?"Following":"Follow"
    - buttonClass=isFollowing?"followBtn following":"followBtn"
    button(class=buttonClass data-userid=user._id) #{text}

mixin createTab(name,href,isSelected)
    - className=isSelected?'tab active':'tab';
    a(href=href class=className)
        span #{name}

